@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;

  }
  
  body {
    background: #111111;
    color: #ffffff;
    padding: 2rem 8rem 0;
  }
  
  li {
    list-style: none;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-container{
    width: 100px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .hero-container {
    margin: 2rem 3rem 0;
    display: flex;
    align-items: center;
  }
  
  .left img {
    width: 725px;
  }
  
  .hello-text {
    color: #f83241;
    font-weight: 600;
    font-size: 1.5rem;
  }
  
  .heading-text {
    font-size: 5rem;
  }
  
  .description {
    color: #d5d5d5;
  }
  
  .hero-btn {
    margin-top: 2rem;
  }
  
  .main-btn {
    padding: 0.9rem 3rem;
    font-size: 1.1rem;
    background: #f83241;
    border: none;
    color: #ffffff;
  }
  
  .outer-container{
    /* background: #35353532;
    margin-right: 200px; */
  }

  .showcase-container {
    background: #35353532;
    margin: 0 -8rem;
    padding-bottom: 4rem;
  }
  
  .top-showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 7rem 10rem;
  }
  
  .card {
    background-color: #1e1e1e;
    padding: 2rem;
    position: relative;
  }
  
  .icon svg {
    height: 300px;
    position: absolute;
    top: -6rem;
    left: -2.5rem;
  }
  .icon img {
    position: absolute;
  }
  
  .title {
    margin-top: 6rem;
  }
  
  .know-more {
    color: #f83241;
    background: transparent;
    border: none;
    font-size: 1.1rem;
  }
  
  .card .know-more {
    margin: 2rem 0 0;
  }
  
  .bottom-showcase {
    display: flex;
    justify-content: center;
  }
  
  .first-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 8rem;
    margin-left: 8rem;
  }
  
  .experience-years {
    font-size: 8rem;
    font-weight: 700;
    color: #f83241;
    line-height: 1;
  }
  
  .experience-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  
  .red-card {
    background: #f83241;
  }

  .red-card .know-more {
    color: #ffffff;
  }

  .count {
    font-size: 4rem;
    font-weight: 600;
    color: #f83241;
  }
  
  .showcase-card {
    padding: 2rem 8rem;
    text-align: center;
  }
  
  .projects-container {
    margin: 0 10rem;
  }
  
  .project-top {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
  }
  
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
  }
  
  .project img {
    width: 500px;
  }
  
  .project-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1rem 0 0.2rem;
  }
  
  .letswork-container {
    padding: 4rem 3rem;
    margin: 5rem 0;
    background-color: #1e1e1e;
  
    display: flex;
    gap: 12rem;
    align-items: center;
  }
  
  .work-title {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }
  
  .footer-links {
    justify-content: center;
    color: #d5d5d5;
    margin-bottom: 3rem;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    background: #1e1e1e;
    padding: 2rem 12rem;
    margin: 0 -8rem;
  }
  
  .socials {
    display: flex;
    gap: 3rem;
    align-items: center;
    position: relative;
    right: 60px;
    margin-right: 37em;
  }
  
  .social img {
    width: 32px;
    align-items: center;
    text-align: center;
  }
/* 
  .fb{
    width: 2em;
  } */
